@use '../../styles/mixins/breakpoints' as br;

.eventsList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  gap: 48px;

  & > li {
    display: contents;
  }
}

.event {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.eventHeading {
  color: var(--accent-primary);
  margin: 0;
  font-size: inherit;

  & a[href]:last-child {
    margin-top: 8px;
  }
}

@include br.media-breakpoint-up(md) {
  .event {
    grid-template-columns: 265px 1fr;
  }
}

@include br.media-breakpoint-up(lg) {
  .eventsList {
    padding: 24px 0 0 68px;
  }
}
