*.log
.idea
dist
docs/
umd
build
coverage
node_modules
__snapshots__
.yarn/*
.vscode/*
.husky/*
.env
.docusaurus
.nvmrc
.eslintcache
LICENSE
.changeset
.github
tsconfig.tsbuildinfo
pnpm-lock.yaml
.babelrc
