@use '../../styles/mixins/breakpoints' as br;

.header {
  --slanted-header-logo-size: 64px;
  --slanted-header-height: 142px;
  --slanted-header-gap: 20px;

  composes: d-flex overflow-hidden from global;

  border: none;
  margin: 0;
  height: var(--slanted-header-height);
  clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
  padding: 10px 20px 0;
  background-color: var(--accent-primary);
  color: var(--text-primary);
  align-items: flex-start;
  gap: var(--slanted-header-gap);

  .logo {
    width: var(--slanted-header-logo-size);
    height: var(--slanted-header-logo-size);
    border-radius: 8px;
  }

  @include br.media-breakpoint-up(lg) {
    padding: 40px 110px 0;
    --slanted-header-height: 212px;
    --slanted-header-logo-size: 80px;
    --slanted-header-gap: 32px;

    .logo {
      position: relative;
      top: -10px;
    }
  }
}

.heading {
  composes: overflow-hidden from global;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 1.25rem !important;
  margin: 0;

  @include br.media-breakpoint-up(sm) {
    font-size: 1.5rem !important;
    margin: 16px 0;
    -webkit-line-clamp: 2;
  }
}
