$display-values: none, inline, inline-block, block, grid, flex, inline-flex,
  contents;
$position-values: sticky, static, relative, absolute, fixed;
$overflow-values: auto, hidden, visible, scroll;

@each $value in $overflow-values {
  .overflow-#{$value} {
    overflow: $value !important;
  }

  .overflow-x-#{$value} {
    overflow-x: $value !important;
  }

  .overflow-y-#{$value} {
    overflow-y: $value !important;
  }
}

@each $value in $display-values {
  .d-#{$value} {
    display: $value !important;
  }
}

@each $value in $position-values {
  .position-#{$value} {
    position: $value !important;
  }
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

.list-style-none {
  list-style: none !important;
}

.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.no-touch-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-tap-highlight-color: transparent !important;
}

.text-center {
  text-align: center;
}
