@use '@fontsource/open-sans/scss/mixins' as OpenSans;

/* docs: https://fontsource.org/docs/getting-started/faces-mixin */
@include OpenSans.faces(
  $subsets: latin,
  $weights: (
    400,
    700,
  ),
  $display: fallback,
  $styles: all,
  $directory: '@fontsource/open-sans/files'
);
