@use '../../styles/mixins/breakpoints' as br;

.list {
  composes: m-0 d-flex list-style-none overflow-hidden from global;
  --icon-size: 24px;
  --icon-gap: 20px;
  align-items: center;
  padding: 0 4px;
  gap: var(--icon-gap);
  height: 32px;

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    line-height: 1;
    display: inline-block;
    outline-offset: -2px;

    &:focus-visible {
      outline-color: var(--accent-primary) !important;
    }

    &:active {
      transform: scale(1.1);
      outline: none;
    }
  }

  img {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: invert(1);
  }

  @include br.media-breakpoint-up(lg) {
    --icon-size: 32px;
    --icon-gap: 25px;
  }
}
