@use './mixins/a11y';
@use './mixins/text';

@import 'normalize.css/normalize.css';
@import './utilities/layout';
@import './utilities/open-sans';

[hidden] {
  display: none !important;
}

body {
  @include text.font-family();
  touch-action: manipulation;

  & * {
    word-break: break-word;
  }
}

.visually-hidden {
  @include a11y.visually-hidden();
}

.h-1 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
}

.h-2 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
}

.p-1 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
}

:root {
  --brand-primary: #8f001c;
  --brand-secondary: #ffb200;
  --color-dark-100: #121212;
  --color-dark-200: #303030;
  --color-light-100: #f3f6f9;
}

:root.rmjs-yellow-black-theme,
.rmjs-yellow-black-theme {
  color-scheme: dark;
  --bg-primary: var(--brand-secondary);
  --bg-secondary: var(--color-dark-100);
  --bg-tertiary: var(--color-dark-200);
  --text-primary: var(--color-dark-100);
  --test-secondary: var(--color-light-100);
}
