@use './mixins/a11y';
@use './mixins/text';
@use './mixins//breakpoints' as br;

@import 'normalize.css/normalize.css';
@import './utilities/layout';
@import './utilities/open-sans';
@import './utilities/btn';
@import './utilities/animations';

[hidden] {
  display: none !important;
}

body,
body *,
body ::after,
body ::before {
  box-sizing: border-box;
}

:root,
body {
  height: 100%;
  width: 100%;
}

body {
  @include text.font-family();
  touch-action: manipulation;

  & * {
    word-break: break-word;
  }
}

.visually-hidden {
  @include a11y.visually-hidden();
}

.visually-hidden-focusable {
  @include a11y.visually-hidden-focusable();
}

@mixin heading-1 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
}

.h-1 {
  @include heading-1();
}

.h-2 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;

  &.h-dynamic {
    @include br.media-breakpoint-up(lg) {
      @include heading-1();
    }
  }
}

.p-1 {
  @include text.font-family();
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
}

:root {
  --brand-primary: #8f001c;
  --brand-secondary: #ffb200;
  --color-dark-100: #121212;
  --color-dark-200: #303030;
  --color-light-100: #f3f6f9;

  --footer-height: 52px;
  --navbar-menu-fullscreen-index: 50;
  --footer-z-index: 2;

  @include br.breakpoints-as-css-properties();
}

.main {
  position: relative;
  padding-bottom: var(--footer-height);

  footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    height: var(--footer-height);
    overflow: hidden;
    width: 100%;
    z-index: var(--footer-z-index);
  }

  a:not(:disabled) {
    cursor: pointer;
  }
}

.main-content {
  padding: 24px 20px var(--footer-height);

  hr {
    border-color: var(--accent-primary);
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    height: 0;
    padding: 0;
    margin: 2rem 0;
  }

  a {
    font-weight: 500;
    color: var(--accent-primary);

    &:focus-visible {
      outline: var(--accent-primary) auto 1px;
    }
  }

  @include br.media-breakpoint-up(lg) {
    padding: 40px 40px var(--footer-height);
  }

  &.center {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* <Transition /> classes */
.fade-enter-active,
.fade-exit-active {
  transition: opacity 300ms ease-in;
}
.fade-enter,
.fade-exit-to {
  opacity: 0;
}

:root.rmjs-yellow-black-theme,
.rmjs-yellow-black-theme {
  color-scheme: dark;
  --bg-primary: var(--brand-secondary);
  --bg-secondary: var(--color-dark-100);
  --bg-tertiary: var(--color-dark-200);
  --text-primary: var(--color-dark-100);
  --text-secondary: var(--color-light-100);
  --accent-primary: var(--brand-secondary);
}

:root.rmjs-yellow-white-theme,
.rmjs-yellow-white-theme {
  color-scheme: light;
  --bg-primary: var(--brand-secondary);
  --bg-secondary: var(--color-light-100);
  --bg-tertiary: var(--color-dark-200);
  --text-primary: var(--color-dark-100);
  --text-secondary: var(--color-dark-100);
  --accent-primary: var(--brand-secondary);
}

.post-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  padding: 0;

  @include br.media-breakpoint-up(lg) {
    padding: 0 64px;
  }
}

.blog-list-layout {
  display: grid;
  grid-template-columns: 1fr;

  @include br.media-breakpoint-up(lg) {
    gap: 24px;
    grid-template-columns: 8fr 2fr;
  }
}

.categories-list-layout .categories-list[class] {
  flex-flow: row wrap;
}

.categories-list.categories-list {
  --category-min-width: 62px;
  gap: 14px;
  @include br.media-breakpoint-up(lg) {
    flex-flow: column nowrap;
    align-items: center;
    --category-min-width: 200px;
    gap: 8px;
  }
}

.aside {
  display: flex;
  flex-flow: column nowrap;
  color: var(--accent-primary);
  gap: 16px;
  padding: 32px 8px 0;
  @include br.media-breakpoint-up(lg) {
    padding: 0;
  }
}

.logo-small {
  border-radius: 8px;
  width: 64px;
  height: 64px;
}

@include br.media-breakpoint-up(lg) {
  .logo-small {
    width: 80px;
    height: 80px;
  }
}
