@use '../styles/mixins/breakpoints' as br;

.wallpaper {
  background-color: var(--bg-tertiary);

  :global(.main),
  .main {
    width: 100%;
    min-height: 100%;
    background-color: var(--bg-secondary);
    margin: 0 auto;
    overflow-x: hidden;
  }
}
