---
import HpLayout from '@layouts/Hp.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title: string = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

// Data Fetching: List all Markdown posts in the repo.

let allPosts = await Astro.glob('./blog/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<HpLayout lang="it" title={title} description={description} permalink={permalink}>
	<!-- Use Fragment slot="head" to add elements to head	-->
	<Fragment slot="head">
	</Fragment>

	<p>Howdy fella!</p>
</HpLayout>