.modal::backdrop {
  background: rgb(0, 0, 0, 0.5);
}

.modal {
  padding: 0;
  border-radius: 8px;
  border: 2px solid currentColor;
  width: min(80vw, 720px);
  height: min-content;
}

.article {
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80vh;
}

:is(.heading, .aside) {
  margin: 0;
  display: flex;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  min-height: 2rem;
}

.heading {
  min-height: 2.5rem;
}

.close {
  display: block;
  appearance: none;
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  line-height: 1;
  padding: 0;
}

.close.btn {
  background: transparent;
}
