@use '../mixins/_breakpoints.scss' as br;

:root {
  --logo-width: 120px;
}

@include br.media-breakpoint-up(lg) {
  :root {
    --logo-width: 224px;
  }
}

.logo {
  border-radius: 17px;
  width: var(--logo-width);
  height: var(--logo-width);
}

.hp-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}

.hp-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 16px;

  .h-2,
  .h-1 {
    margin: 0;
    max-width: 600px;
  }
}

.logo-hero {
  padding: 61px 45px 0;

  .logo-hero__text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    margin: 16px 0 21px;

    :not(h1) {
      display: none;
    }

    @include br.media-breakpoint-up(lg) {
      margin: 23px 0 29px;

      :not(h1) {
        display: unset;
      }
    }
  }

  @include br.media-breakpoint-up(lg) {
    padding: 51px 45px 0;
  }
}

.arrow-box {
  padding: 20px 16px 0;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
  min-height: 240px;
}

.arrow-box:nth-child(even) {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 340px;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.contacts-cta {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 17px 44px;

  @include br.media-breakpoint-up(lg) {
    padding: 33px 44px;
  }
}

.cfp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  & > * {
    margin: 0;
  }
}

.slack-link {
  border: 1px solid var(--text-secondary);

  @include br.media-breakpoint-down(md) {
    font-size: 12px !important;
    min-height: 28px !important;
    padding: 0 9px !important;
  }

  img {
    filter: invert(1);
    margin-left: 0.2rem;
  }

  @media (hover: hover) {
    &:hover img {
      filter: invert(0);
    }
  }
}

.hp-section-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
