@use '../mixins/breakpoints' as br;

.upcoming-events-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr;
  gap: 48px;

  & > li {
    display: contents;
  }
}

.upcoming-event {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  font-weight: bold;
  font-size: 20px;

  .upcoming-event-heading {
    color: var(--accent-primary);
    margin: 0;
    font-size: inherit;
    font-size: inherit;
    margin: 0;

    & a[href]:last-child {
      margin-top: 8px;
    }
  }
}

@include br.media-breakpoint-up(md) {
  .upcoming-event {
    grid-template-columns: 265px 1fr;

    .upcoming-event-heading {
      & a[href]:last-child {
        margin-left: 8px;
      }
    }
  }
}

@include br.media-breakpoint-up(lg) {
  .upcoming-events-list {
    padding: 24px 0 0 68px;
  }
}
