---
import "../styles/main.scss";
import BaseHead from '@components/BaseHead.astro';
import { BuildInfo } from '@components/BuildInfo/BuildInfo';
import type { Props as BaseHeadProps } from '@components/BaseHead.astro';

export interface Props extends BaseHeadProps {
  lang: string;
}

const { title, description, permalink, lang } = Astro.props as Props;
---

<html lang={lang || 'en' } class="rmjs-yellow-black-theme">

<head>
  <BaseHead title={title} description={description} />
  <slot name="head" />
  <style lang="scss">
    @use "../styles/mixins/breakpoints";

    body {
      background-color: var(--bg-tertiary);
    }

    .main {
      margin: 0 auto;

      @include breakpoints.media-breakpoint-up(lg) {
        max-width: 1200px;
      }
    }
  </style>
</head>

<body>
  <main class="main">
    <slot />
  </main>
  <slot name="after" />
  <BuildInfo />
</body>

</html>