@use '../../styles/mixins/breakpoints' as br;

.wrapper {
  composes: d-grid from global;
  --content-height: 32px;
  --category-height: var(--content-height);

  max-width: 100%;
  justify-content: center;
  grid-template-columns: 1fr;
  align-items: flex-start;
  padding: 20px;
  text-align: center;

  time {
    font-weight: 700;
    display: flex;
    align-items: center;
    height: var(--content-height);
    padding: 0;
    margin: 0;
  }

  @include br.media-breakpoint-up(lg) {
    padding: 20px 40px;
    grid-template-columns: 100px 1fr;
    gap: 8px;
  }
}
