name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-22.04
    env:
      HUSKY: '0'
      TZ: 'Europe/Rome'
    steps:
      - uses: 'actions/checkout@v4'
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: log info
        run: >
          printf 'commit -> %s\nbranch -> %s\n' "$(git rev-parse --short HEAD)" "$(git branch --show-current)"
      - name: Enable corepack
        run: 'corepack enable'
      - name: log node and package manager
        run: 'printf "node -> %s\n pnpm -> %s"  "$(node -v)" "$(pnpm -v)"'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: lint - typescript
        run: pnpm run lint:ts
      - name: lint - astro
        run: pnpm run lint:astro
      - name: tests
        run: pnpm run test
      - name: Build
        run: pnpm run build
